<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admit to the Claim</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b><u>Admit to a Small Claims Order</u></b>
                <br><br>
                <u>	Admitting to a claim means you agree with it and do not dispute it. You may also request the following:</u>
                <br><br>
                <label><input type="checkbox" name="" disabled> <span>Admit only part of the claim and dispute the rest;</span></label>
                <label><input type="checkbox" name="" disabled> <span>Admit the full claim but pay in instalments</span></label>
                <br><br>
                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <b>one-off</b> free legal consultation on the subject-matter.
                Henceforth, you are strongly encouraged to complete the request via the Community Justice and Tribunals system if your matter falls under their purview. For more information, you may refer to the Judiciary website.
            </p>
        </div>
    </div>
</body>
</html>
