<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appeal against an Employment Claims Order</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b><u>Appeal against an Employment Claims Order</u></b>
                <br><br>
                A party may appeal against a decision made at a case management conference by the registrar or against the decision of a tribunal at a hearing. 
                <br><br>
                For more information, please visit the Judiciary <a href="https://www.judiciary.gov.sg/civil/how-to-respond-employment-claim" target="_blank">website.</a>
                <br><br>
                <b>If you are not enquiring on behalf of a company or business entity (including private limited),</b> you may proceed to obtain a queue number for the 
                <b><u>one-off</u></b> free 20-minute legal advice session, from the ticket-issuing machine at Level 1, Information Counter of the State Courts.
            </p>
        </div>
    </div>
</body>
</html>
