<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appeal against a protection from harassment decision</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <u>one-off</u> free legal consultation on the subject-matter. 
                You may appeal against a decision made at a case management conference or pre-trial conference by the deputy registrar or against the decision of a judge in the Protection from Harassment Court. For more information, you may refer to the Judiciary
                <a href="https://www.judiciary.gov.sg/civil/appeal-protection-from-harassment" target="_blank">website</a>.
            </p>
        </div>
    </div>
</body>
</html>