<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appeal Against Neighbour</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b><u>Appeal against a Neighbour Dispute Claim</u></b>
                <br><br>
                A party may appeal against a decision made at a pre-trial conference or case conference by the registrar or against a decision made at a hearing by a tribunal to the General Division of the High Court under specific circumstances.
                <br><br>
                For more information, you may refer to the <a href="https://www.judiciary.gov.sg/civil/appeal-against-neighbour-dispute-claim-order" target="_blank">Judiciary</a> website. 
                <br><br>
                <b>If you are not enquiring on behalf of a company or business entity (including private limited),</b> you may proceed to obtain a queue number for the 
                <b><u>one-off</u></b> free 20-minute legal advice session, from the ticket-issuing machine at Level 1, Information Counter of the State Courts.
            </p>
        </div>
    </div>
</body>
</html>