<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appeal against a Small Claims Order</title>
</head>
<body>
    <div class="container" id="appealmessage">
        <div>
            <p>
                <b><u>Appeal against a Small Claims Order</u></b>
                <br><br>
                <u>Orders by the Small Claims Tribunals (SCT) are final and binding. The claimant or respondent may appeal against a decision by the Small Claims Tribunals under specific circumstances. Appeals can be filed at 2 stages:</u>
                <br><br>

                • After a consultation with a registrar
                <br>
                •After a hearing with a tribunal magistrate
                
                <br><br>
                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <b>one-off</b> free legal consultation on the subject-matter.
                Henceforth, you are strongly encouraged to complete the appeal application via the Community Justice and Tribunals system if your matter falls under their purview. For more information, you may refer to the Judiciary website. 
            </p>
        </div>
    </div>
</body>
</html>
