<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appeal against an Employment Claims Order</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <b>one-off</b> free legal consultation on the subject-matter. 
                A party may appeal against a decision made at a case management conference by the registrar or against the decision of a tribunal at a hearing. For more information, you may refer to the Judiciary website. 
            </p>
        </div>
    </div>
</body>
</html>
