<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Civil</title>
</head>
<body>
    <h2><u>Questions relating to Civil Matters</u></h2>
    <br>
    <p><b>Which of the following category best describes the matter you are seeking advice on?</b></p>
    <p><b>a. My claim is:</b></p>
    <div class="checkboxes">
        <label><input type="checkbox"> <span>Less than $20 000</span>
        <a href="#" data-bs-toggle="tooltip" title="Less than $20 000: The limit can be raised to $30,000 if there is a Memorandum of Consent from both parties.">(i)</a>
        </label>
        <br><br>
        <label><input type="checkbox"> <span>Filed within 2 years of the event which creates your cause of action</span>
        <a href="#" data-bs-toggle="tooltip" title="Filed within 2 years: A cause of action is the set of facts which entitles you to start a court action against another party.
        Example: A shopkeeper who does not get paid after delivering goods to a customer may have a cause of action to claim the price of the unpaid goods.">(i)</a>
        </label>
        <br><br>
        <label><input type="checkbox"> <span>None of the above</span></label>
    </div>

    <br><br>
    
    <div>
        <p><b>b. My claim is regarding:</b></p>
        <p><b>i. Small Claims Tribunal </b></p>
        <div class="checkboxes">
            <label><input type="checkbox"> <span>Tenancy agreement for residential premises < 2 years</span>
                <a href="#" data-bs-toggle="tooltip" title="This excludes the lease of industrial or commercial premises, or license of any premises for any period of time.">(i)</a>
            </label>
            <br><br>
            <label><input type="checkbox"> <span>Contract for sale of good</span>
                <a href="#" data-bs-toggle="tooltip" title="This includes claims arising from a contract in which goods are sold or bought in exchange for money.
                Example: Purchase of a TV
                ">(i)</a>
            </label>
            <br><br>
            <label><input type="checkbox"> <span>Contract for provision of services</span>
                <a href="#" data-bs-toggle="tooltip" data-bs-html="true" title="This includes claims arising from a contract to provide services involving skill or labour, or both, in exchange for money.
                <br><br>
                Example: Renovation contract.
                ">(i)</a>
            </label>
            <br><br>
            <label><input type="checkbox"> <span>Damage to property not arising from or in connection with the use of a motor vehicle, or caused by a neighbour</span>
                <a href="#" data-bs-toggle="tooltip" data-bs-html="true" title="This includes claims in tort for damage caused to any property, which may be incurred by owners of a property because of careless, reckless or improper acts by others.
                This does not include damage to property related to any of the following scenarios:
                <br><br>
                •	Arising from or in connection with the use of a motor vehicle. 
                <br><br>
                •	Caused by a neighbour (under Section 4 of the Community Disputes Resolution Act).
                ">(i)</a>
            </label>
        </div>

        <br><br>

        <p><b>ii. Employment Claims Tribunal</b></p>
        <div class="checkboxes">
            <label><input type="checkbox"> <span>Dispute is unresolved after mediation at Tripartite Alliance for Dispute Management (TADM)</span>
                <a href="#" data-bs-toggle="tooltip" title="TADM is established by the Ministry of Manpower (MOM), National Trades Union Congress (NTUC) and Singapore National Employers Federation (SNEF) to help employees and employers manage their employment disputes through advisory and mediation services.
                Mediation at the TADM is compulsory before claims can be filed at the Employment Claims Tribunal (ECT). Please submit a mediation request to TADM as soon as your claim arises, as there are limits to the claim period. For more information, please refer to TADM’s Mediation Guide. 
                ">(i)</a>
            </label>
            <br><br>
            <label><input type="checkbox"> <span>Received a claim referral certificate by an approved TADM mediator</span></label>
        </div>

        <br><br>

        <p><b>iii. Community Disputes Resolutions Tribunal</b></p>
        <div class="checkboxes">
            <label><input type="checkbox"> <span>Neighbour Disputes</span></label>
        </div>

        <br><br>

        <p><b>iv. Protection from Harassment</b></p>
        <p><b>You are seeking for the harasser to:</b></p>
        <div class="checkboxes">
            <label><input type="checkbox"> <span>Stop the harassing behaviour</span></label>
            <br><br>
            <label><input type="checkbox"> <span>Undergo psychiatric treatment</span></label>
            <br><br>
            <label><input type="checkbox"> <span>Stop spreading a false statement of fact</span></label>
            <br><br>
            <label><input type="checkbox"> <span>Comply with other related civil law remedies</span></label>
        </div>
        <br><br>
    </div>
    
      <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
      </script>
</body>
</html>