<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Civil</title>
    <script>
        
    </script>
</head>
<body>
    <h2><u>Questions relating to Civil Matters</u></h2>
    <br>
    <p>Which of the following category best describes the matter you are seeking advice on?</p>
    <br>
    <p>a. My claim is:</p>
    <div class="checkboxes">
        <label><input type="checkbox"> <span>Less than $20 000 (i)</span></label>
        <label><input type="checkbox"> <span>Filed within 2 years of the event which creates your cause of action (i)</span></label>
        <label><input type="checkbox"> <span>None of the above</span></label>
    </div>
</body>
</html>