<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company</title>
</head>
<body>
    <div class="container" id="companymessage">
        <div>
            <p>
                The On-Site Legal Advice Scheme (OSLAS) does not cover matters relating to commercial, business and/or corporate. 
                You may consider searching for a lawyer or law firm by clicking <a href="https://eservices.mlaw.gov.sg/LSRA/search-lawyer-or-law-firm/" target="_blank">here</a> to assist you, where applicable.
            </p>
            <p>
                Alternatively, you may wish to consider Asia Law Network (click <a href="https://www.asialawnetwork.com/" target="_blank">here</a> for details), which may provide services that are relevant to your needs such as legal advice over the phone from a qualified lawyer at a fixed fee.
            </p>
        </div>
    </div>
</body>
</html>
