<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File a Counterclaim</title>
</head>
<body>
    <div class="container" id="countermessage">
        <div>
            <p>
                <b><u>File a Counterclaim</u></b>
                <br><br>
                <u>If you also have an eligible claim against the claimant, you may file a counterclaim against the claimant in the same claim. You will need to take a pre-filing assessment and serve the claim on the other party.</u>
                <br><br>

                • File at least 3 days before the scheduled consultation
                <br>
                • Take a pre-filing assessment and serve the claim on the other party
                
                <br><br>
                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <b>one-off</b> free legal consultation on the subject-matter. 
                Henceforth, you are strongly encouraged to complete the pre-filing assessment via the Community Justice and Tribunals system for a preliminary indication if your matter falls under their purview. For more information, you may refer to the Judiciary website. 
            </p>
        </div>
    </div>
</body>
</html>
