<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Civil</title>
</head>
<body>
    <h2><u>Questions relating to Criminal Matters</u></h2>
    <br>
    <p>Which of the following category best describes the matter you are seeking advice on?</p>
    <p><i>Please select all that applies</i></p>
    <div class="checkboxes">
        <label><input type="checkbox"> <span>Am a Singaporean / Permanent Resident</span></label>
        <label><input type="checkbox"> <span>Have been charged in Court</span></label>
        <label><input type="checkbox"> <span>Offences charged are regulatory in nature and/or departmental charges (https://pdo.mlaw.gov.sg/files/Public%20Defenders%20Act%202022.pdf)</span></label>
        <label><input type="checkbox"> <span>Offences charged relate to gambling, organized and syndicate crime, and terrorism</span></label>
        <label><input type="checkbox"> <span>Offences punishable by death</span></label>
        <label><input type="checkbox"> <span>Offences prosecuted by private person</span></label>
        <label><input type="checkbox"> <span>None of the above</span></label>
    </div>
</body>
</html>