<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispute is unresolved</title>
</head>
<body>
    <div class="container" id="disputemessage">
        <div>
            <p>
                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <u>one-off</u> free legal consultation on the subject-matter.
                Henceforth, you are strongly encouraged to await issuance of the claim referral certificate by an approved TADM mediator. For more information, you may refer to the Judiciary website. 
            </p>
        </div>
    </div>
</body>
</html>
