<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispute the Claim Neighbour</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b><u>Dispute the Claim</u></b>
                <br><br>
                If you do not agree with the claim, you must file and serve a reply within <b>14 working days</b> after being served with the claim. 
                <br><br>
                For more information, please visit the Judiciary <a href="https://www.judiciary.gov.sg/civil/how-to-respond-neighbour-dispute-claim" target="_blank">website.</a>
                <br><br>
                <b>If you are not enquiring on behalf of a company or business entity (including private limited),</b> you may proceed to obtain a queue number for the
                <b><u>one-off</u></b> free 20-minute legal advice session, from the ticket-issuing machine at Level 1, Information Counter of the State Courts.
            </p>
        </div>
    </div>
</body>
</html>
