<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eMediation</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <b><u>one-off</u></b> free legal consultation on the subject-matter. 
                <br><br>
                Either party to the case may request eMediation if the parties are unable to reach a settlement through eNegotiation. Henceforth, it is strongly encouraged that parties proceed with eMediation via the 
                <a href="https://cjts.judiciary.gov.sg/home" target="_blank">Community Justice and Tribunals system.</a>
                <br><br>
                For more information, you may refer to the <a href="https://www.judiciary.gov.sg/alternatives-to-trial/enegotiation-emediation" target="_blank">Judiciary</a> website. 
            </p>
        </div>
    </div>
</body>
</html>
