<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eNegotiation</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <b>one-off</b> free legal consultation on the subject-matter. 
                Only the Respondent is able to start eNegotiation. Henceforth, it is strongly encouraged that eNegotiation is commenced via the Community Justice and Tribunals system. 
                You have the option to request eMediation at any point during the eNegotiation if no settlement has been reached. For more information, you may refer to the Judiciary website or the following guide. 
            </p>
        </div>
    </div>
</body>
</html>
