<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eNegotiation</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <b><u>one-off</u></b> free legal consultation on the subject-matter. 
                <br><br>
                Please note that only the <u>Respondent</u> is able to start eNegotiation. 
                <br>
                Henceforth, it is strongly encouraged that eNegotiation is commenced via the <a href="https://cjts.judiciary.gov.sg/home" target="_blank">Community Justice and Tribunals system.</a>
                <br><br>
                You have the option to request eMediation at any point during the eNegotiation if no settlement has been reached. For more information, you may refer to the 
                <a href="https://www.judiciary.gov.sg/alternatives-to-trial/enegotiation-emediation" target="_blank">Judiciary</a> website or the following 
                <a href="https://www.judiciary.gov.sg/docs/default-source/civil-docs/cjts_guide_filing_enegotiation.pdf?sfvrsn=49412f9e_2" target="_blank">guide</a>. 
            </p>
        </div>
    </div>
</body>
</html>
