<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enforce a protection from harassment order</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <u>one-off</u> free legal consultation on the subject-matter. 
                A party may enforce an an order by the Protection from Harassment Court (PHC) if the other party does not comply with the order. For more information, you may refer to the Judiciary
                <a href="https://www.judiciary.gov.sg/civil/enforce-protection-from-harassment-order" target="_blank">website</a>.
            </p>
        </div>
    </div>
</body>
</html>