<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admit to the Claim</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b><u>Execute or Enforce a Small Claims Order</u></b>
                <br><br>
                You may execute or enforce an order by the Small Claims Tribunals if the other party does not comply with it. You may apply to execute or enforce an order by the Small Claims Tribunals (SCT) if <u>both</u> these conditions apply:
                <br><br>
                • You are the claimant or counterclaimant, and the order was made in your favour.
                <br>
                • The other party does not comply with the order.
                <br><br>
                For more information on the execution or enforcement proceedings, please refer to the Judiciary 
                <a href="https://www.judiciary.gov.sg/civil/civil-claims-(from-1-april-2022)/enforce-an-order-or-judgment-(from-1-april-2022)" target="_blank">website</a>.
                <br><br>
                <b>If you are not enquiring on behalf of a company or business entity (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <u>one-off</u> free legal consultation on the subject-matter. 
                You may obtain a queue number from the ticket-issuing machine at Level 1, Information Counter of the State Courts, which are issued on a first-come, first-served basis. 
            </p>
        </div>
    </div>
</body>
</html>
