<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admit to the Claim</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b><u>Execute or Enforce a Small Claims Order</u></b>
                <br><br>
                <u>	You may execute or enforce an order by the Small Claims Tribunals if the other party does not comply with it. You may apply to execute or enforce an order by the Small Claims Tribunals (SCT) if <b>both</b> these conditions apply:</u>
                <br><br>
                <label><input type="checkbox" disabled> <span>You are the claimant or counterclaimant, and the order was made in your favour.</span></label>
                <label><input type="checkbox" disabled> <span>The other party does not comply with the order.</span></label>
            </p>
        </div>
    </div>
</body>
</html>
