<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Civil</title>
</head>
<body>
    <h2><u>Questions relating to Family Matters</u></h2>
    <br>
    <p><b>Which of the following category best describes the matter you are seeking advice on?</b></p>
    <br>
    <div class="checkboxes">
        <p>i. Integrated Family Application Management System (iFAMS)</p>
        <input type="checkbox" id="" name="question5" value=""> Maintenance Order (i.e. Enforcement / variation/ application)
        <br>

        <input type="checkbox" id="" name="question5" value=""> Personal Protection Order (i)
        <br>

        <input type="checkbox" id="" name="question5" value=""> Mental Capacity Act Application (including appointment of a deputy)
        <br>

        <input type="checkbox" id="" name="question5" value=""> Vulnerable Adults Act Application (i)
        <br>
    </div>

    <br>

    <div class="checkboxes">
        <p>ii. Divorce application (simplified track)</p>
        <p>You and your spouse agree on the following:</p>
        <input type="checkbox" id="" name="question6" value=""> The marriage has irretrievably broken down
        <br>

        <input type="checkbox" id="" name="question6" value=""> Ancillary matters (i.e. child custody & control / maintenance and/or division of matrimonial assets)
        <br>
    </div>

    <br>
    
    <div class="checkboxes">
        <input type="checkbox" id="" name="question7" value=""> None of the above
    </div>
    
</body>
</html>