<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iFAMS</title>
</head>
<body>
    <div class="container" id="iFAMSmessage">
        <div>
            <p>
                Please note that the On-Site Legal Advice Scheme entitles you to a <b id="one_off"><u>one-off</u></b> free legal consultation on the subject-matter. 
                You are strongly encouraged to access the <a href="https://ifams.gov.sg/sop/#iFAMS" target="_blank">Integrated Family Application Management system (iFAMS)</a>
                for a preliminary indication if your matter falls under their purview. 
            </p>
            <p>
                For more information, you may refer to the <a href="https://www.judiciary.gov.sg/family" target="_blank">Judiciary</a> website. 
            </p>
        </div>
    </div>
</body>
</html>