<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>None of the Above</title>
</head>
<body>
    <div class="container" id="nonemessage">
        <div>
            <p>
                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <u>one-off</u> free legal consultation on the subject-matter.
                You may obtain a queue number from the ticket-issuing machine at Level 1, Information Counter of the State Courts, which are issued on a first-come, first-served basis. 
            </p>
        </div>
    </div>
</body>
</html>