<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>None of the above</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <b><u>one-off</u></b> free legal consultation on the subject-matter. 
                <br><br>
                Henceforth, you are strongly encouraged to visit the Judiciary website to understand the process of filing a neighbour dispute claim which includes the following:
                <br><br>
                1. Complete the pre-filing assessment on the <a href="https://cjts.judiciary.gov.sg/home" target="_blank">Community Justice and Tribunals system</a> and take note of the pre-filing assessment ID after completing the pre-filing assessment;
                <br><br>
                2. Prepare proof or evidence in support of your neighbour dispute claim;
                <br><br>
                3. File your claim via the Community Justice and Tribunals System (CJTS) within <b>2 years</b> of the event which creates your cause of action;
                <br><br>
                4. Serve the documents on the respondent within <b>14 days</b> of the date of filing of the claim; and
                <br><br>
                5. File a declaration of service (DOS) before the date of the first pre-trial conference or case conference.
            </p>
        </div>
    </div>
</body>
</html>
