<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>None of the Above</title>
</head>
<body>
    <div class="container" id="nonemessage">
        <div>
            <p>
                <b>If you are not enquiring on behalf of a company or business entity (including private limited),</b> 
                you may proceed to obtain a queue number for the <b><u>one-off</u></b> free 20-minute legal advice session, 
                from the ticket-issuing machine at Level 1, Information Counter of the State Courts.
            </p>
        </div>
    </div>
</body>
</html>