<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Final Order (with an interim order) None of the above</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <u>one-off</u> free legal consultation on the subject-matter. 
                <br><br>
                Henceforth, you are strongly encouraged to visit the Judiciary <a href="https://www.judiciary.gov.sg/civil/how-to-file-serve-protection-from-harassment" target="_blank">website</a> to understand the process of filing a protection from harassment application, which include the following:
                <br><br>
                • Complete the pre-filing assessment via the <a href="https://cjts.judiciary.gov.sg/home" target="_blank">Community Justice and Tribunals system</a>. You will receive a pre-filing assessment ID after completing the pre-filing assessment;
                <br><br>
                • File your claim on the Community Justice and Tribunals System (CJTS);
                <br><br>
                • Attend the hearing, which will usually be held within <b>2 working days</b> from the date of filing; and 
                <br><br>
                • Serve the documents on the respondent according to the specific directions given by the judge.
            </p>
        </div>
    </div>
</body>
</html>