<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordered to pay up to $20 000 in monetary compensation</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                The Protection from Harassment Court (PHC) hears matters related to harassment, stalking, cyberbullying and other acts causing alarm or distress. Please click 
                <a href="https://www.judiciary.gov.sg/civil/before-filing-protection-from-harassment" target="_blank">here</a> for more details and <a href="https://www.judiciary.gov.sg/civil/cases-eligible-protection-from-harassment" target="_blank">here</a> for the type of cases the PHC can hear. 
                You may also take an <a href="https://www.statecourts.gov.sg/CJTS/" target="_blank">online pre-filing assessment</a> on the Community Justice and Tribunals System (CJTS) to consider if you have a claim and whether it is suitable for the simplified proceedings in the PHC.

                <br><br>

                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <u>one-off</u> free legal consultation on the subject-matter.
                You may obtain a queue number from the ticket-issuing machine at Level 1, Information Counter of the State Courts, which are issued on a first-come, first-served basis. 
            </p>
        </div>
    </div>
</body>
</html>