<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punished through a jail term or a fine, or both</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                If you believe that a criminal offence has been committed against you, you should make a <b>police report</b> and check if your case is eligible, before filing a <b>Magistrate's Complaint</b> online to the State Courts. 
                You may go through an online assessment to give you a preliminary assessment of whether your case is suitable for filing as a Magistrate's Complaint. Please click 
                <a href="https://www.judiciary.gov.sg/criminal/magistrates-complaints" target="_blank">here</a> for more details on Magistrate's Complaints.

                <br><br>

                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <u>one-off</u> free legal consultation on the subject-matter.
                You may obtain a queue number from the ticket-issuing machine at Level 1, Information Counter of the State Courts, which are issued on a first-come, first-served basis. 
            </p>
        </div>
    </div>
</body>
</html>