<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question 5d Claimant Neighbour</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <b>one-off</b> free legal consultation on the subject-matter.
                Henceforth, you are strongly encouraged to find out whether the case can be heard at the CDRT, and complete the pre-filing assessment, via the Community Justice and Tribunals system. 
                Before proceeding to file a claim. You will receive a pre-filing assessment ID after completing the pre-filing assessment. 
                Take note of this ID as you will need to provide it when filing your neighbour dispute claim. For more information, you may refer to the Judiciary website, or refer to the following guide.
            </p>
        </div>
    </div>
</body>
</html>
