<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Represented</title>
</head>
<body>
    <div class="container" id="representedmessage">
        <div>
            <p>
                The On-Site Legal Advice Scheme (OSLAS) one-off 20-minute free legal advice to <b id="unrepresented"><u>unrepresented</u></b> court users. 
            </p>
            <p>
                Please approach your lawyer regarding your matter or you may consider searching for a lawyer or law firm by clicking 
                <a href="https://eservices.mlaw.gov.sg/lsra/search-lawyer-or-law-firm/" target="_blank">here</a> to assist you, where applicable. 
            </p>
        </div>
    </div>
</body>
</html>
