<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set aside a protection from harassment order made in my absence</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <u>one-off</u> free legal consultation on the subject-matter. 
                A default order may be made against you if you are absent for a Protection from Harassment Court (PHC) court session. If you wish to apply to set aside a default order made in your absence, please refer to the Judiciary 
                <a href="https://www.judiciary.gov.sg/civil/set-aside-protection-from-harassment-order" target="_blank">website</a>.
            </p>
        </div>
    </div>
</body>
</html>