<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Aside Neighbour</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b>If you are not enquiring on behalf of a company or business entity, (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a <b>one-off</b> free legal consultation on the subject-matter. 
                A default order may be made against you if you are absent from your Pre-Trial Conference (PTC) or Case Management Conference (CMC) or Community Disputes Resolution Tribunal (CDRT) hearing. 
                If you wish to apply to set aside a default order made in your absence, please refer to the Judiciary website.
            </p>
        </div>
    </div>
</body>
</html>