<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set aside Employment claims Order made in my absence</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b><u>Set aside a default order</u></b>
                <br><br>
                You may apply to set aside the default order, which has been made in your absence, within <b>7 days</b> from the date the default order was made.
                <br><br>
                For more information, please visit the Judiciary <a href="https://www.judiciary.gov.sg/civil/how-to-respond-employment-claim" target="_blank">website.</a>
                <br><br>
                <b>If you are not enquiring on behalf of a company or business entity (including private limited),</b> please note that the On-Site Legal Advice Scheme entitles you to a 
                <b><u>one-off</u></b> free legal consultation on the subject-matter. 
                You may obtain a queue number from the ticket-issuing machine at Level 1, Information Counter of the State Courts, which are issued on a first-come, first-served basis. 
            </p>
        </div>
    </div>
</body>
</html>
