<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settle the Claim Employment</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                <b><u>Settle the Claim</u></b>
                <br><br>
                If you do not dispute the claim, you may resolve it by initiating an online negotiation or mediation on the Community Justice & Tribunal System (CJTS)
                <br><br>
                If a settlement is not reached, or if an application for a consent order is not approved by the Employment Claims Tribunal, you will have to attend the case management conference as stated in the Notice of CMC.
                <br><br>
                For more information, please visit the Judiciary <a href="https://www.judiciary.gov.sg/civil/how-to-respond-employment-claim" target="_blank">website.</a>
                <br><br>
                <b>If you are not enquiring on behalf of a company or business entity (including private limited),</b> you may proceed to obtain a queue number for the 
                <b><u>one-off</u></b> free 20-minute legal advice session, from the ticket-issuing machine at Level 1, Information Counter of the State Courts.
            </p>
        </div>
    </div>
</body>
</html>
