<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settle the claim</title>
</head>
<body>
    <div class="container" id="admitmessage">
        <div>
            <p>
                Your case is under Simplified Proceedings. If you do not dispute the claim, you may resolve it by initiating an online negotiation on the Community Justice & Tribunal System (CJTS).
                <br><br>
                If both parties manage to reach a settlement before the date of the Case Management Conference (CMC) or Pre-Trial Conference (PTC), the claimant may apply to withdraw the claim. Alternatively, both parties may apply for a consent order to be issued.
                <br><br>
                If the dispute is not settled by the date of the CMC or PTC as stated in the Notice of Pre-Trial or Case Conference served on you, you will have to attend the case conference or PTC.
                <br><br>
                For more information, please visit the Judiciary <a href="https://www.judiciary.gov.sg/civil/how-to-respond-protection-from-harassment#simplified" target="_blank">website</a>.
                <br><br>
                <b>If you are not enquiring on behalf of a company or business entity (including private limited), </b> you may proceed to obtain a queue number for the <u>one-off</u> free 20-minute legal advice session, from the ticket-issuing machine at Level 1, Information Counter of the State Courts.
            </p>
        </div>
    </div>
</body>
</html>