<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SG Charged</title>
</head>
<body>
    <div class="container" id="sg_chargedmessage">
        <div>
            <p>
                Please note that the On-Site Legal Advice Scheme entitles you to a <b id="one_off"><u>one-off</u></b> free legal consultation on the subject-matter. 
                You are strongly encouraged to consider approaching the 
                <a href="https://pdo.mlaw.gov.sg/criminal-defence-aid/how-to-apply/" target="_blank">Public Defender's Office</a>
                (PDO) for a preliminary indication if your matter falls under their purview. 
            </p>
        </div>
    </div>
</body>
</html>