<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sought</title>
</head>
<body>
    <div class="container" id="soughtmessage">
        <div>
            <p>
                The On-Site Legal Advice Scheme provides <b id="one_off"><u>one-off</u></b> 20-minute free legal advice to unrepresented court users. 
                You may consider making an appointment with the Pro Bono SG for their community legal clinic 
                <a href="https://www.lawsocprobono.org/pages/community-legal-clinic.aspx" target="_blank">here</a> or searching for a lawyer or law firm by clicking 
                <a href="https://eservices.mlaw.gov.sg/LSRA/search-lawyer-or-law-firm/" target="_blank">here</a> to assist you, where applicable. 
            </p>
        </div>
    </div>
</body>
</html>
